.hero {
  width: 100%;
  height: 90vh;
  position: relative;
}

.hero-mid {
  width: 100%;
  height: 70vh;
  position: relative;
}


.hero-mid h1 {
  padding-top: 4rem !important;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.villain {
  width: 100%;
  height: 50vh;
  position: relative;
}

.villain-mid {
  width: 100%;
  height: 50vh;
  position: relative;
}


.villain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hero-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero-text h1 {
  margin-left: 500px;
  font-size: 3rem;
  font-weight: 800;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text p {
  margin-left: 450px;
  color: #f4f4f4;
  font-size: 1.3rem;
  padding: 0.5rem 0 2rem 0;
}

.hero-text .show {
  text-decoration: none;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222;
}

.hero-text .hide {
  display: none;
}

.hero-text input[type="search"] {
  margin-left: 300px;
  width: 600px;
  height: 40px;
  padding: 6px;
  border: 1px solid #fff;
  font-size: 17px;
  background: transparent;
}

.hero-text input[type="search"]:focus {
  outline: 0;
  color: #ccc;
}

.hero-text button {
  margin-left: 550px;
  position: relative;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  font-size: large;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}

.hero-text button:hover {
  background: #fff;
  color: #444;
}

.hero-text button:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.hero-text button:focus {
  outline: 0;
}

@media screen and (max-width: 555px) {
  .hero-text h1 {
    padding: 10px 20px;
  }

  .hero-text p {
    font-size: 1.1rem;
    padding: 0rem 0 2rem 0;
  }

  .hero-text .show {
    padding: 0.6rem 1.1rem;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
  }
}
