.Tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}

.Tabs .tabList {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: left;
  border-bottom: 2px black solid;

  .tabHeader {
    padding: 1.5rem;
    border: 1px solid white;
    background-color: rgb(241, 239, 239);
    cursor: pointer;
    font-weight: 500;
  }
}

.Tabs .tabList .active {
  padding: 1.5rem;
  border: 1px solid white;
  cursor: pointer;
  font-weight: 500;
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
  box-shadow: 0px 1px 0px black;
}

.Tabs .tabList .content {
  display: flex;
  justify-content: left;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  width: 100%;
}

.Tabs .tabList .tabContent {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 130%;
}