.home-container {
    margin: 2rem 2rem;
    color: #2a2a2a;
    text-align: start;
  }
  
  .home-container h1 {
    text-align: center;
    padding-bottom: 1rem;
  }
  
  .home-container h2 {
    padding-bottom: 0.5rem;
  }
  
  .home-container p {
    padding-bottom: 0.2rem;
  }
  
  @media screen and (max-width: 850px) {
    .home-container {
      margin: 4rem 2rem;
    }
  }
  