.resources-page .contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.resources-page h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.resources-page .box {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  border-radius: 6px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
  flex-basis: 25%;  
  margin-bottom: 20px;
}

.links {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 0.5rem;
  white-space: nowrap;
}

.resources-page i {
  padding-right: 10px;
}

